{% extends 'blog/base.html' %}

{% block content %}

<header>
		<h1>ИЭСК</h1>
</header>

<div class="container">

    <div class="back-to-main">
            <a href="{% url 'index'  %}">Назад к проектам</a>
    </div>

    <div class="row row-full-h justify-content-center align-items-center">
            
        <div class="col-8">
            
            <div class="supports">
                <div class="title">Выберите место размещения роутеров</div>
                <div class="supports-body">
                    <nav class="supp-links">
                        <a href="station_2.html">Пост№1. Опора типа П </a>
                        <a href="station_3.html">Пост№2. Опора типа П </a>
                        <a href="station_1.html">Пост№3. Опора 3 КРУЭ </a>
                    </nav>
                </div>
            </div>
        
        </div>
    </div>

</div>

{% endblock %}
