{% extends 'blog/new_base.html' %}
{% load static %}

    {% block title  %}
    <title>Пост №2</title>
    {% endblock %}
    
    {% block project %}
    <span class="navbar-text">
            ИЭСК   
            </span>
    {% endblock %}
                           
    {% block station %} Пост №2 Опора типа П 203/60 кВ {% endblock %}
    
    {% block content %} 
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"> Пост №2 Опора типа П 203/60 кВ </h1>
                <div class=" btn-group btn-toolbar mb-2 mb-md-0" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="right: 10%;" >
                        Место размещения      
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"  >
                        <a class="dropdown-item" href="/post1_iesk/">Пост №1 Опора 203/56 кВ</a>
                        <a class="dropdown-item" href="/post2_iesk/">Пост №2 Опора 203/60 кВ</a>
                        <a class="dropdown-item" href="/post3_iesk/">Пост №3 КРУЭ Б 220 кВ </a>
                    </div>         
                </div>
            </div>

   
        <div class="container" style="max-width: 100%;">   
            <canvas id="spb4" width="850" height="200"></canvas>
            <canvas id="spb5" width="850" height="200"></canvas>
            <canvas id="spb6" width="850" height="200"></canvas>
        </div>
        
        <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" >
                        Log router: mark_6
                        </button>
                    </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" >
                    <div class="card-body">
                        <h2>Log router: mark_6 10.8.0.38</h2>
                        <div class="table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th>Log Time</th>
                                    <th>Log Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in table_router1 %}
                                    <tr class='success'>
                                        <td>{{ i.log_text }}</td>
                                        <td>{{ i.log_time }}</td>
                                    </tr>
                                    {% endfor %}               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" >
                            Log router: mark_7
                        </button>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <h2>Log router: mark_7 10.8.0.46</h2>
                        <div class="table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th>Log Time</th>
                                    <th>Log Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in table_router2 %}
                                    <tr class='success'>
                                        <td>{{ i.log_text }}</td>
                                        <td>{{ i.log_time }}</td>
                                    </tr>
                                    {% endfor %}                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Log router: mark_8
                        </button>
                    </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h2>Log router: mark_8 10.8.0.102</h2>
                        <div class="table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th>Log Time</th>
                                    <th>Log Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in table_router3 %}
                                    <tr class='success'>
                                        <td>{{ i.log_text }}</td>
                                        <td>{{ i.log_time }}</td>
                                    </tr>
                                    {% endfor %}                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
        </div> 
    </main>          
{% endblock %}
 
{% block script %} 
    <!-- Plot -->
<script>
        var spb4 = document.getElementById("spb4").getContext("2d");
        var spb5 = document.getElementById("spb5").getContext("2d");
        var spb6 = document.getElementById("spb6").getContext("2d");
        
        Chart.defaults.global.defaultFontSize = 18;
    
        var faza_10 = {
        
        label: "VPN - mark_6",
        data: {{ vpn_router1 }},
        lineTension: 0.7,
        borderColor: 'red',
        steppedLine: 'before'
        };
    
        var inet_10 = {
        
        label: "internet - mark_6",
        data: {{ inet_router1 }},
        lineTension: 0.7,
        borderColor: 'blue',
        steppedLine: 'before'
        };
    
        
        
        var faza_11 = {
        
        label: "VPN - mark_7",
        data: {{ vpn_router2 }},
        lineTension: 0.7,
        borderColor: 'red',
        steppedLine: 'before'
    
        };  
        
        var inet_11 = {
        label: "internet - mark_7",
        data: {{ inet_router2 }},
        lineTension: 0.7,
        borderColor: 'blue',
        steppedLine: 'before'
        };
    
        var faza_12 = {
        label: "VPN - mark_8",
        data: {{ vpn_router3 }},
        lineTension: 0.7,
        borderColor: 'red',
        steppedLine: 'before'
        };
        var inet_12 = {
        label: "internet - mark_8",
        data: {{ inet_router3 }},
        lineTension: 0.7,
        borderColor: 'blue',
        steppedLine: 'before'
        };
            
        var data_mark10 = {
        labels: {{ times_router1|safe }},
        datasets: [faza_10, inet_10],
        };  
        
        var data_mark11 = {
        labels: {{ times_router2|safe }},
        datasets: [faza_11, inet_11],
        };  
        var data_mark12 = {
        labels: {{ times_router3|safe }},
        datasets: [faza_12, inet_12],
        };    
    
        var chartOptions = {
        legend: {
        display: true,
        position: 'top',
        labels: {
            boxWidth: 80,
            fontColor: 'black'
        }  
        },
        scales: { 
            yAxes: [{ 
                ticks: { 
                    max: 1,
                    min: 0,
                    stepSize: 1
                    } 
                }] 
            }, 
            responsive: true,
        
        };
    
        var lineChart = new Chart(spb4, {
        type: 'line',
        data: data_mark10,
        options: chartOptions,
        maintainAspectRatio: false,
        responsive: true,
        });
    
        var lineChart = new Chart(spb5, {
        type: 'line',
        data: data_mark11,
        options: chartOptions
        });
        var lineChart = new Chart(spb6, {
        type: 'line',
        data: data_mark12,
        options: chartOptions
        });
    
    </script>
{% endblock %}