{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <header>
        <h1> Пост№2. Опора типа П </h1>
    </header>

    <div class="container">
        <div class="back-to-main">
            <a href="iesk.html">Вернуться к списку опор</a>
        </div>
        <div class="row">     
            <div class="row-10"> 
                <div class="chart">
                    <!-- график №1 -->
                    <div class="chart-title"><h3>mark_006 10.8.0.46 Фаза С - Вкл/Выкл(1/0)</h3></div>
                    <div class="ct-chart">
                        <canvas id="spb4" style="width: 850px; height: 250px; "></canvas>
                    </div>
                    <!-- график №2 -->
                    <div class="chart-title"><h3>mark_007 10.8.0.46 Фаза А - Вкл/Выкл(1/0)</h3></div>
                    <div class="ct-chart">
                        <canvas id="spb5"style="width: 850px; height: 250px; "></canvas>
                    </div>
                    <!-- график №3 -->
                    <div class="chart-title"><h3>mark_008 10.8.0.102 Фаза В - Вкл/Выкл(1/0)</h3></div>
                    <div class="ct-chart">
                        <canvas id="spb6" style="width: 850px; height: 250px; "></canvas>
                    </div>
                </div>      
            </div>   
            
            <div class="row-7">
                    <div class="supp-img">
                            <div class="supports">
                                    <div class="title"> Установите период времени</div>
                                        <div id="date_range" style="margin-left: 0px;" ></div>
                                        <form method="POST">
                                                {% csrf_token %}
                                                {{ form }}
                                            <input type="submit" value="Показать" >
                                        </form>
                            </div>	
                    </div>
                </div> 
        </div>

            <div class="routerslog">  
                <div class="row">   
                    <div class="row-10">
                            <a href="#" onclick="openbox('box'); return false">  Log mark_006 </a>
                            <div id="box" style="display: none;">
                                <div class="supports">
                                    <div class="supports-body">   
                                        <table id="table">
                                                <thead>
                                                    <tr>
                                                        <th>Log_time</th>
                                                        <th>Log_hostname - vpn_ip</th>	
                                                        <th>Log_data</th>
                                                    </tr>    
                                                </thead>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                    </div>
                    <div class="row-10">
                            <a href="#" onclick="openbox('boxy'); return false">  Log mark_007 </a>
                            <div id="boxy" style="display: none;">
                                    <div class="supports">
                                        <div class="supports-body">   
                                            <table id="table5">
                                                    <thead>
                                                        <tr>
                                                            <th>Log_time</th>
                                                            <th>Log_hostname - vpn_ip</th>	
                                                            <th>Log_data</th>
                                                        </tr>    
                                                    </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                    </div>
                    <div class="row-10">
                            <a href="#" onclick="openbox('boxs'); return false">  Log mark_008 </a>
                            <div id="boxs" style="display: none;">
                                    <div class="supports">
                                        <div class="supports-body">   
                                            <table id="table6">
                                                    <thead>
                                                        <tr>
                                                            <th>Log_time</th>
                                                            <th>Log_hostname - vpn_ip</th>	
                                                            <th>Log_data</th>
                                                        </tr>    
                                                    </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                    </div>

                </div>       
                                 
        </div>


</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/scripts_min.js' %}"></script>
<!-- 1. Подключим библиотеку jQuery (без нее jQuery UI не будет работать) -->
<script src="{% static 'libs/myJquery/external/jquery/jquery.js' %}"></script>
<!-- 2. Подключим jQuery UI -->
<script src="{% static 'libs/myJquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/jquery.datepicker.extension.range.min.js' %}"></script>
<script src="{% static 'libs/Chart.js' %}"></script>

<!-- Datepicker -->
<script type="text/javascript">
    $(function() {
        $('#date_range').datepicker({
            range: 'period',
            numberOfMonths: 1,
            monthNames:["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            dayNamesMin:["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            firstDay:1,
            dateFormat:"yy-mm-dd", 
            onSelect: function(dateText, inst, extensionRange) {
            $('[name=startDate]').val(extensionRange.startDateText);
            $('[name=endDate]').val(extensionRange.endDateText);
        }
        });
        
        
        var extensionRange = $('#date_range').datepicker('widget').data('datepickerExtensionRange');
        if(extensionRange.startDateText) $('[name=startDate]').val(extensionRange.startDateText);
        if(extensionRange.endDateText) $('[name=endDate]').val(extensionRange.endDateText);

    });
</script>
 <!-- Plot -->
<script>
    var spb4 = document.getElementById("spb4").getContext("2d");
    var spb5 = document.getElementById("spb5").getContext("2d");
    var spb6 = document.getElementById("spb6").getContext("2d");
    

    Chart.defaults.global.defaultFontSize = 18;

    var faza_10 = {
    
    label: "VPN - mark_006",
    data: {{ vpn_spb4 }},
    lineTension: 0.7,
    borderColor: 'red',
    steppedLine: 'before'
    };

    var inet_10 = {
    
    label: "internet - mark_006",
    data: {{ inet_spb4 }},
    lineTension: 0.7,
    borderColor: 'blue',
    steppedLine: 'before'
    };

    
    
    var faza_11 = {
    
    label: "VPN - mark_007",
    data: {{ vpn_spb5 }},
    lineTension: 0.7,
    borderColor: 'red',
    steppedLine: 'before'

    };  
    
    var inet_11 = {
    label: "internet - mark_007",
    data: {{ inet_spb5 }},
    lineTension: 0.7,
    borderColor: 'blue',
    steppedLine: 'before'
    };

    var faza_12 = {
    label: "VPN - mark_008",
    data: {{ vpn_spb6 }},
    lineTension: 0.7,
    borderColor: 'red',
    steppedLine: 'before'
    };
    var inet_12 = {
    label: "internet - mark_008",
    data: {{ inet_spb6 }},
    lineTension: 0.7,
    borderColor: 'blue',
    steppedLine: 'before'
    };
        
    var data_mark10 = {
    labels: {{ times_spb4|safe }},
    datasets: [faza_10, inet_10],
    };  
    
    var data_mark11 = {
    labels: {{ times_spb5|safe }},
    datasets: [faza_11, inet_11],
    };  
    var data_mark12 = {
    labels: {{ times_spb6|safe }},
    datasets: [faza_12, inet_12],
    };    

    var chartOptions = {
    legend: {
    display: true,
    position: 'top',
    labels: {
        boxWidth: 80,
        fontColor: 'black'
    }  
    },
    scales: { 
        yAxes: [{ 
            ticks: { 
                max: 1,
                min: 0,
                stepSize: 1
                } 
            }] 
        }, 
        responsive: true,
    
    };

    var lineChart = new Chart(spb4, {
    type: 'line',
    data: data_mark10,
    options: chartOptions,
    maintainAspectRatio: false,
    responsive: true,
    });

    var lineChart = new Chart(spb5, {
    type: 'line',
    data: data_mark11,
    options: chartOptions
    });
    var lineChart = new Chart(spb6, {
    type: 'line',
    data: data_mark12,
    options: chartOptions
    });

</script>

<script type="text/javascript">

    function openbox(id){
        display = document.getElementById(id).style.display;
    
        if(display=='none'){
        document.getElementById(id).style.display='block';
        }else{
        document.getElementById(id).style.display='none';
        }
    }
</script>

<!-- Таблица spb004 -->
<script type="text/javascript">

    function generateTable(row, column){
        var tbody = '<tbody>';
        var mycolumn = '{{range4}}';
        
        var temp1 = {{ loghost_spb4|safe }};
        var temp2 = {{ logtext_spb4|safe }};

        var timeNow = {{ logtime_spb4|safe }};

        for( var i = 0; i <= column-1; i++ ){
            
            var t = timeNow[i];
            
            var t1 = temp1[i];
            var t2 = temp2[i];
            
            tbody += '<tr>';
            
            for( var j = 1; j <= column; j++ ){
                
                if ( j == 1){
                    tbody += '<td> ' + t + '</td>';
                } else if ( j == 2){
                    tbody += '<td> ' + t1 + '</td>';
                } else if ( j == 3){
                    tbody += '<td> ' + t2 + '</td>';
                } 
            }
            
            tbody += '</tr>';

        }
        tbody += '</tbody>';
        document.getElementById('table').innerHTML += tbody;
        
    }
    generateTable(4, {{range4}});	
</script>

    <!-- Таблица spb005 -->
<script type="text/javascript">

    function generateTable(row, column){
        var tbody = '<tbody>';
        var mycolumn = '{{range5}}';

        var temp3 = {{ loghost_spb5|safe }};
        var temp4 = {{ logtext_spb5|safe }};

        var timeNow5 = {{ logtime_spb5|safe }};

        for( var i = 0; i <= column-1; i++ ){
            
            var tt = timeNow5[i];
    
            var t3 = temp3[i];
            var t4 = temp4[i];
      
            tbody += '<tr>';
            
            for( var j = 1; j <= column; j++ ){
                
                if ( j == 1){
                    tbody += '<td> ' + tt + '</td>';
                } else if ( j == 2){
                    tbody += '<td> ' + t3 + '</td>';
                } else if ( j == 3){
                    tbody += '<td> ' + t4 + '</td>';
                } 
            }
            
            tbody += '</tr>';

        }
        tbody += '</tbody>';
        document.getElementById('table5').innerHTML += tbody;
        
    }
    generateTable(4, {{range5}});	
</script>

<!-- Таблица spb006 -->
<script type="text/javascript">

    function generateTable(row, column){
        var tbody = '<tbody>';
        var mycolumn = '{{range4}}';

        var temp5 = {{ loghost_spb6|safe }};
        var temp6 = {{ logtext_spb6|safe }};

        var timeNow6 = {{ logtime_spb6|safe }};

        for( var i = 0; i <= column-1; i++ ){

            var tr = timeNow6[i];
            
            var t1 = temp5[i];
            var t2 = temp6[i];

            
            tbody += '<tr>';
            
            for( var j = 1; j <= column; j++ ){
                
                if ( j == 1){
                    tbody += '<td> ' + tr + '</td>';
                } else if ( j == 2){
                    tbody += '<td> ' + t1 + '</td>';
                } else if ( j == 3){
                    tbody += '<td> ' + t2 + '</td>';
                } 
            }
            
            tbody += '</tr>';

        }
        tbody += '</tbody>';
        document.getElementById('table6').innerHTML += tbody;
        
    }
    generateTable(4, {{range6}});	
</script>


{% endblock %}